<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-pringsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/bootstrap/style-qui.css">
    <script src="../static/qui.js"></script>


</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../../../nullin ra san pham.PNG" alt="Note"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarResonsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResonsive">
            <ul class="navbar-nav ml-auto">
                <li class="form-group">
                    <a href="#" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <div sec:authorize="isAuthenticated()">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                            Limit
                        </button>
<!--                        <a href="/user/balance/create" id="createLimit" class="nav-link">Limit</a>-->
                    </div>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Event</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a th:href="@{/login}" class="nav-link">Login</a>
                </li>

            </ul>
        </div>
    </div>

</nav>
    <form class="modal fade" id="myModal" th:object="balance" method="post">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Your Limit</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body form-group" >
                <table>
                    <tr>
                        <td >Ngày bắt đầu :</td>
                        <td><div><input type="date" id="startDate" ></div></td>
                    </tr>
                    <tr>
                        <td>Ngày kết thúc :</td>
                        <td><div><input type="date" id="endDate" ></div></td>
                    </tr>
                    <tr>
                        <td>Số tiền :</td>
                        <td><div><input type="number" id="money" placeholder="Enter Money"></div></td>
                    </tr>
                </table>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="submit" class="btn btn-success"  onclick="createLimit()">Create</button>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" >Close</button>
            </div>

        </div>
    </div>
</form>

</body>
</html>