<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-pringsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/bootstrap/style-qui.css">


</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../../../nullin ra san pham.PNG" alt="Note"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarResonsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResonsive">
            <ul class="navbar-nav ml-auto">
                <li class="form-group">
                    <a href="#" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Regite</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/login}" class="nav-link">Login</a>
                </li>

            </ul>
        </div>
    </div>

</nav>


<a th:href="@{/login}">Đăng nhập</a>
<div sec:authorize="isAuthenticated()">
    <span sec:authentication="principal.username"></span>
    <div><a th:href="@{/user/balance/create}">Đặt giới hạn chi tiêu</a></div>
</div>
</body>
</html>