<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Wallet</title>
</head>
<body>
<th:block th:if="${mess}">
    <span th:text="${mess}"></span>
</th:block>
<form th:object="${wallet}" method="post">
    <div>
        <label>Name</label>
        <input type="text" th:field="*{name}"/>
        <div id="validationServer03Feedback" class="invalid-feedback">
            Please provide a valid name.
        </div>
    </div>
    <div>
        <label>Money</label>
        <input type="text" th:field="*{money}"/>
    </div>
    <button type="submit">Thêm</button>
</form>
</body>
</html>