<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wallet</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>
<body>

<form id="submit">
    <input type="hidden" id="id" value="0">
    <label for="name">Name:</label><input type="text" id="name">
    <label for="name">Money:</label><input type="text" id="money">
    <input type="submit" value="Save">
</form>
<table id="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Money</th>
    </tr>
    <tr th:each="w:${wallet}">
        <td th:text="${w.id}"></td>
        <td th:text="${w.name}"></td>
        <td th:text="${w.money}"></td>
        <td>
            <button th:id="${w.id}" class="update">Update</button>
        </td>
        <td>
            <button th:id="${w.id}" class="remove" onclick="return confirm('You may want to delete ?');">Delete</button>
        </td>
    </tr>
</table>
<div id="form-place"></div>
<script>
    $(document).ready(function () {
        $('#submit').submit(function (event) {
            let id = $('#id').val();
            let name = $('#name').val();
            let money = $('#money').val();
            let walletToSend = {
                "id": id, "name": name, "money": money
            }
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "POST",
                data: JSON.stringify(walletToSend),
                url: "/wallet/create",
                success: function (walletZZ) {
                    let newTr = "<tr>";
                    newTr += "<td>" + walletZZ.id + "</td>";
                    newTr += "<td>" + walletZZ.name + "</td>";
                    newTr += "<td>" + walletZZ.money + "</td>";
                    newTr += "<td><button onclick='prepareUpdate(this)' id='" + walletZZ.id + "' class='update'>Update</button></td>";
                    newTr += "<td><button class='remove' id='" + walletZZ.id + "'>Remove</button></td>";
                    newTr += "</tr>";
                    $('#table').append(newTr);

                }
            })
            event.preventDefault();
        })
        $(document).on("click", ".remove", function () {
            let button = $(this);
            console.log($(this));
            $.ajax({
                type: "DELETE",
                url: "/wallet/remove/" + button.attr("id"),
                success: function () {
                    button.parent().parent().remove();
                }
            })
            event.preventDefault();
        });
        $('.update').click(function () {
            //set value in form
            let button = $(this);
            $.ajax({
                headers: {'Accept': 'application/json', 'Content-Type': 'application/json'},
                type: "GET",
                url: "/wallet/" + button.attr("id"),
                success: function (wallet) {
                    let form = "<form id=\"update-form\" onclick='update()'>" +
                        "<label for=\"update-id\">ID</label>" +
                        "<input type=\"text\" id=\"update-id\" disabled><br>" +
                        "<label for=\"update-name\">Name</label>" +
                        "<input type=\"text\" id=\"update-name\"><br>" +
                        "<label for=\"update-money\">Money</label>" +
                        "<input type=\"text\" id=\"update-money\"><br>" +
                        "<input type=\"submit\" value=\"Update\">" + "" +
                        "</form>";

                    $('#form-place').append(form);
                    $('#update-id').val(wallet.id);
                    $('#update-name').val(wallet.name);
                    $('#update-money').val(wallet.money);
                }
            })
        })
    });

    function prepareUpdate(node) {
        $.ajax({
            headers: {
                'Accept': 'application/json', 'Content-Type': 'application/json'
            },
            type: "GET",
            url: "/wallet/" + node.id,
            success: function (wallet) {
                let form = "<form id=\"update-form\" onclick='update()'>" +
                    "<label for=\"update-id\">ID</label>" +
                    "<input type=\"text\" id=\"update-id\" disabled><br>" +
                    "<label for=\"update-name\">Name</label>" +
                    "<input type=\"text\" id=\"update-name\">" +
                    "<label for=\"update-money\">Money</label>" +
                    "<input type=\"text\" id=\"update-money\">" +
                    "<br><input type=\"submit\" value=\"Update\"></form>";

                $('#form-place').append(form);
                $('#update-id').val(wallet.id);
                $('#update-name').val(wallet.name);
                $('#update-money').val(wallet.money);
            }
        })
    }

    function update() {
        let id = $('#update-id').val();
        let name = $('#update-name').val();
        let money = $('#update-money').val();
        let newWallet = {"id": id, "name": name,"money" : money};
        $.ajax({
            headers: {
                'Accept': 'application/json', 'Content-Type': 'application/json'
            },
            type: "PUT",
            url: "/wallet/update",
            data: JSON.stringify(newWallet),
            success: function (wallet) {
                $('#update-form').innerHTML = "";
                let newRow = "<td>" + wallet.id + "</td>";
                newRow += "<td>" + wallet.name + "</td>";
                newRow += "<td>" + wallet.money + "</td>";
                newRow += "<td><button id='" + wallet.id + "' class='update'>Update</button></td>";
                newRow += "<td><button id='" + wallet.id + "' class='remove'>Remove</button></td>";
                $(wallet.id).parent().parent().innerHTML = newRow;
            }
        })
    }
</script>
</body>
</html>