<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/wallets/create"></a>
<form class="d-flex" action="/wallets/search" method="post">
    <input  name="search" type="text" placeholder="Nhập tên ví cần tìm">
    <button type="submit">Tìm kiếm</button>
</form>
<table>
    <tr>
        <td>Tên ví</td>
        <td>Số dư</td>
        <td>Xóa</td>
        <td>Sửa</td>
    </tr>
    <tr th:each="w:${wallet}">
        <td th:text="${w.name}"></td>
        <td th:text="${w.money}"></td>
        <td></td>
        <td><a th:href="@{/wallets/edit/{id}(id=${w.id})}">Sửa</a></td>
    </tr>
</table>
</body>
</html>